
/* YOUR CSS STYLES */

/*For regions map*/

.region-on:hover {
    stroke-width: 3;
}

.state:hover {
    stroke-width: 3
}

.state {
    stroke: grey;
}

/* Legend Position Style */
.legend {
    position:absolute;
    left:20px;
    top:30px;
}

.col-lg-6 {
    /*text-align: center;*/
}

body, html {
    height: 100%;
}

body {

    /*background-color: #E6E7E8;*/
    /*color: #0745af;*/

    /*background-color: #0f6d70;*/
    background-color: #144f52;


    /*background-color: #275a5e;*/
    color: #d9d9d9
;
}
a {
    color: #99caff;
}
a:hover {
    color: #99caff;
    font-weight: bold;
}
.row {
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 4%;
}

.imgs {
    width: 100%;
    height: auto;
}

#dirty-water {


}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
            url("../imgs/tom-gainor-737280-unsplash.jpg");


    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*To match the left and right borders used in bootstrap columns*/
    margin-bottom: 15px;
}

/* Place text in the middle of the image */
.hero-text {

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70%;
}

.d3-tip {
    background: white;
    padding: 5px;
    border-radius: 5px;
}

#heading, .centered {
    text-align: center;
}

#measurable {
/*     width: 90%; */


    /*text-align: center;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*color: white;*/
    /*width: 70%;*/

}

.d3-tip {
    background: white;
    color: black;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
}

#heading, .centered {
    text-align: center;
}

#measurable {
    /*width: 22%;*/
    /*text-align: center;*/
    margin-left: 15px;
}
#measurable-form {
    margin-left:auto;
    margin-right:auto;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    text-align: center;
    display: inline-block;
}

#measurable-select-box-row {
    /*cancel out attributes of .row*/
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 4%;
    /*padding-top: 4%;*/

}


.form-control {
    display: inline;
}


h1 {
    margin: 3%;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
}

#unsplash-cred {
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
    float: right;
}

blockquote {
    margin-left: 30px;
}

body {
    /*text-align: center;*/
}

.form-control {
    display: inline;
}


h1 {
    margin: 3%;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
}

#unsplash-cred {
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
    float: right;
}

blockquote {
    margin-left: 30px;
}

body {
    /*text-align: center;*/
}

/*Map Styles*/
#map-vis {
    /*margin-bottom: 25px;*/
}

/*Timeslider Styles*/
#timeslider-vis {
    margin-bottom: 25px;
}

#showcase {
    margin: 0 20px;
    text-align: center;
}

#range {
    height: 300px;
    margin: 0 auto 30px;
}

.d3-tip {
    background: white;
    padding: 5px;
    border-radius: 5px;
}

#heading, .centered {
    text-align: center;
}

.placeholder {
    padding: 20px;
    /*border: black;*/
    /*border-style: solid;*/
}

.story-text {
    /*margin-left: 4%;*/
    color: #fffffa;
}

/*Site colors*/


/*.title {*/
    /*color: #0745af;*/
/*}*/

.light {
    opacity: 0.2;
}

.spacing {
    margin-top: 3%;
}

p {

    /*color: #0745af;*/
    /*margin-top: %;*/
    color: white;
}

/* What is this for? */
.text {
    color: #F8FCFF;
}

/* For region map legend labels */
.label {
    fill: #d9d9d9;
}

h2 {
    padding-top: 2%;
    margin-bottom: 0;
}

.dark-block {
    background-color: #000C14;
}

/* Chesapeake Bay and Line Chart styles */

.DCline {
    fill: none;
    stroke: #1C9A3D;
    stroke-width: 1.5px;
}

.DEline {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

.MDline {
    fill: none;
    stroke: blue;
    stroke-width: 1.5px;
}

.NYline {
    fill: none;
    stroke: purple;
    stroke-width: 1.5px;
}

.PAline {
    fill: none;
    stroke: orange;
    stroke-width: 1.5px;
}

.VAline {
    fill: none;
    stroke: pink;
    stroke-width: 1.5px;
}

.WVline {
    fill: none;
    stroke: cyan;
    stroke-width: 1.5px;
}

.chesapeakeimprovement {
    text-align: center;
}

#dirtyEstuary {
    border: black;
    border-style: solid;
    /*padding-bottom: -5px;*/
}
#positivity {
    border-bottom: none;
}
.y-axis-label {
    text-anchor: middle;
}


/*
Specify size of the map container for leaflet
 */
#harbor-map {
    width: 90%;
    height: 500px;
    /*height: 600px;*/
}
/*#harbor-row {*/
    /*!*background-color: #f2f2f2;*!*/
    /*background-color: #3C8F93;*/

/*}*/
#harbor-linechart svg {
    width: 90%;
    height: 500px;
}
#harbor-linechart-svg-group {
    width: 100%;
    height: 600px;
}
#harbor-vis-form {
    margin-left:auto;
    margin-right:auto;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    text-align: center;
    display: inline-block;
}
#harbor-select-box {
    margin-left: 15px;
}

/* navigation bars */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: system-ui, sans-serif;

    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
}
header {
    grid-column: 1 / 3;
    background: #455A64;
    color: white;
    /*padding: 20rem;*/
    text-align: center;
    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    margin-bottom: 50%;
}

nav {
    white-space: nowrap;
    background: #37474F;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
    nav ul {
        position: sticky;
        top: 0;
    }
}
nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}
nav ul li a.current {
    background: black;
}
#harbor-select-box-row {
    /*cancel out attributes of .row*/
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
    margin-bottom: 4%;
}
.color-bar {
    margin-left: 0;
    margin-right: 0;
    /*background-color: orangered;*/
}
.case-study-title {
    text-align: center;
}
.color-bar:last-of-type {
    /*To match the left and right borders used in bootstrap columns*/
    margin-bottom: 15px;
}
.x-axis-group.harbor path, .y-axis-group.harbor path,
.x-axis-group.harbor line, .y-axis-group.harbor line {
    stroke: white;
}
#harbor-linchart-title, #harbor-map-title, #harbor-location-label {
    text-align: center;
}
#harbor-time-slider {
    width: 70%;
}
#temp {
    width: 600px;
}